<style>
  table{
    margin-left: auto;
    margin-right: auto;
  }

  td{
    height: 50px;
    background-color: darkslateblue;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
  }

  th{
    height: 40px;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 4px;
  }

  a{
    text-decoration: none;
    color: red;
  }


</style>
<table>
<tr>
  <th>ID:</th>
  <th>Name:</th>
  <th>Surname:</th>
  <th>Username:</th>
  <th>E-mail:</th>
  <th>Birthday:</th>
  <th>Role:</th>

</tr>
<tr *ngFor="let u of users">
  <td>
    <a href="/users/show?id={{u.id}}">{{u.id}}</a>
  </td>
  <td>{{u.name}}</td>
  <td>{{u.surname}}</td>
  <td>{{u.username}}</td>
  <td>{{u.email}}</td>
  <td>{{u.birthdate}}</td>
  <td>{{parseRole(u.role)}}</td>
</tr>
</table>
