
<div style="text-align: center; margin-bottom: 80px;">
  <h1>ALLEZON</h1>



</div>

<div class="menu">
  <nav>
    <ul>
      <li id="auctions"><a href="/auctions">Auctions</a></li>
      <li id="users"><a href="/users">Users</a></li>
      <li class="login" id="login"><a href="/login">Login</a></li>
    </ul>
  </nav>
</div>
<br/>
<br/>

<router-outlet></router-outlet>


<footer style="margin-top: 300px; margin-bottom: 50px; text-align: center; font-size: 12px;">@Bartosz Chotkowski 2020  </footer>

