<div style="margin-top: 20px; margin-bottom: 30px;" *ngIf="registerMessage != ''">
  <h3 class="has-info">{{registerMessage}}</h3>
</div>


<form method="post" class="registerframe" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
  <div *ngIf="validMessage != ''">
    <h3 class="has-info">{{validMessage}}</h3>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" formControlName="email" required autofocus/>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password" required/>
  </div>

  <button type="submit" class="btn btn-primary">Log In</button>
</form>

<div style="margin-top: 30px; text-align: center;">Not a member?
  <button class="btn btn-secondary" style="width: 100px; height: 30px; font-size: small;" routerLink="/register">Sign up</button></div>

